  // 筛选过滤
  .search-wrap {
    background: #F6F7F9;
    padding: 16px

    .ant-form-item {
      display: flex;
      // margin-right: 0;
      margin-bottom: 24px;

      .ant-form-item-label {
        line-height: 32px
      }

      .ant-form-item-label > label {
        color: #4B5265;
      }

      .ant-form-item-control {
        line-height: 32px;
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
      // overflow: hidden;
    }
  }



.rowFontColor {
  color: #DDDDDD;
}
.fix-account-layout{
  display flex
  .ant-form-item-label{
    min-width 25%;
    text-align right;
    em {
      font-style normal;
      padding-left: 10px;
    }
  }
  .ant-form-item-control-wrapper{
    flex 1;
  }
}

.horizontalStyl {
  margin: 0
  }
.verticalStyl {
  height: 100%
  }

.ant-tree-treenode-selected {
  // background-color: #b3c8e3
  }

  .ant-tree li .ant-tree-node-content-wrapper:hover {
    // width: 200px
    }

.ant-upload-list{
  display none
  }